.ribbon {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 8px 0;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;
    z-index: 1001;
    /* Above header */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    overflow: hidden;
}

.text {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}